<div class="navbar">
    <mat-toolbar color="primary" class="navbar-content">
        <mat-toolbar-row class="navbar-row">
            <img src="assets/images/logo-almundo.svg" alt="AlMundo">
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <app-search-box (filterChange)="filter($event)" class="filters"></app-search-box>
        </div>
        <div class="col-9">
            <app-found-hotels [hotels]="hotels"></app-found-hotels>
        </div>
    </div>
</div>