/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/css/simple-grid.min.css";
/* .mat-grid-tile .mat-figure{
    align-items: initial !important;
} */
.mat-card{
    padding: 10px !important;
}
.star{
    fill:gold !important;
}
body{
    margin: 0px;
}